---
extends: default

ignore: |
  tests/
  .tox
  *.bak
  .venv

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1 # yamllint defaults to 0
  octal-values:
    forbid-implicit-octal: true # yamllint defaults to false
    forbid-explicit-octal: true # yamllint defaults to false
